.join {
  padding: 200px 0;
  background: url('../images/join.jpg') no-repeat center / cover;
}

.join .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.join-title {
  margin-bottom: 32px;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}