.join {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

.join-photo {
  background: url('../images/join.jpg') no-repeat center / contain;
  flex: 0 0 60%;
}

.join-info {
  flex: 0 0 40%;
  padding: 200px 50px;
}

.join-title {
  margin-bottom: 16px;
  font-size: 24px;
  color: #000;
  max-width: 400px;
  line-height: 36px;
}

@media (max-width: 768px) {
  .join {
    background: #0073bc;
    padding: 40px 0;
    display: block;
  }

  .join-photo {
    display: none;
  }

  .join-info {
    padding: 20px 30px;
    text-align: center;
  }

  .join-title {
    color: #FFF;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .join .button {
    color: #FFF;
  }
}