.way {
  padding: 80px 0;
}

.way .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.way__title {
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

.way-list {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 38px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.way-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 239px;
  text-align: center;
}

.way-item__icon {
  width: 64px;
  height: 64px;
  margin-bottom: 30px;
}

.way-item__icon-1 {
  background: url('../images/way-1.png') no-repeat center / contain;
}

.way-item__icon-2 {
  background: url('../images/way-2.png') no-repeat center / contain;
}

.way-item__icon-3 {
  background: url('../images/way-3.png') no-repeat center / contain;
}

.way-item__info-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.way-item__info-text {
  font-size: 16px;
  color: #000000;
  line-height: 22px;
}

@media (max-width: 768px) {
  .way {
    padding: 40px 0;
  }

  .way__title {
    font-size: 20px;
  }

  .way-list {
    display: block;
  }

  .way-item {
    margin: 0 auto;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .way-item__icon {
    height: 32px;
    width: 32px;
  }
}