doctype html
head
  title Сеть АЗС Газпромнефть
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  link(rel="stylesheet" href="stylesheets/app.css")

  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png")
  meta(name="theme-color" content="#ffffff")

  link(rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png")
  link(rel="icon" type="image/png" sizes="192x192"  href="./favicon/android-icon-192x192.png")
  link(rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png")
  link(rel="manifest" href="./manifest.json")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize')

body
  .nav
    .nav-container
      a.nav-logo(href="/")
      .nav-list
        a.nav-list__item(href="#work") Работать в Сети АЗС «Газпромнефть»
        a.nav-list__item(href="#conditions") Условия
        a.nav-list__item(href="#duties") Обязанности

  .header
    .container
      .header-title
        span ОТКРЫТА ВАКАНСИЯ
        | Оператор-кассир заправочных станций
      .header-subtitle
        | Предлагаем стабильную работу с удобным графиком, ежемесячными премиями, полным соцпакетом и ДМС
      a.button(href="#")
        | Откликнуться
    .header-arrow

  .work#work
    .container
      .work-title
        | Работать в <span>Сети АЗС «Газпромнефть»</span> — значит стремиться к большему: 

      .work-subtitle
        | “Газпромнефть” - один из крупнейших поставщиков моторных топлив на рынке Российской Федерации (бензины, дизельное топливо, авиа керосины)

      .work-list
        .work-list__item
          | Создавать и гордиться созданным
        .work-list__item
          | Создавать историю для будущих поколений
        .work-list__item
          | Решать интересные задачи
        .work-list__item
          | Создавать и применять новые подходы
        .work-list__item
          | Получать возможности для самореализации

  .join
    .join-photo
    .join-info
      .join-title
        | Присоединяйся к команде Сети АЗС «Газпромнефть»
      a.button(href="#")
        | Откликнуться

  .conditions#conditions
    .container
      .conditions-title
        | Условия работы

      .conditions-list
        .conditions-list__item
          | официальное оформление в соответствии с ТК (оплата отпусков/больничных листов)
        .conditions-list__item
          | возможность получить новую профессию “Оператор заправочных станций 3 разряда”
        .conditions-list__item
          | оплачиваемое со стороны организации обучение
        .conditions-list__item
          | заработная плата от 25 000 руб до 35 000 руб. Расчет 2 раза  в месяц
        .conditions-list__item
          | сменный график работы (день/ночь)
        .conditions-list__item
          | страхование от несчастных случаев
        .conditions-list__item
          | ДМС - добровольное медицинское страхование (после 6 месяцев работы)

  .duties#duties
    .container
      .duties-title
        | Должостные обязанности

      .duties-list
        .duties-list__item
          | - общаться с автолюбителями
        .duties-list__item
          | - принимать оплату на кассе
        .duties-list__item
          | - работа в кафе по приготовление кофе, френч-догов и свежей выпечки для клиентов
        .duties-list__item
          | - раскладывать товары на полках магазина
        .duties-list__item
          | - принимать бензовозы с новыми партиями топлива и проверять его качество и количество
        .duties-list__item
          | - поддержание чистоты и порядка на рабочем месте
        .duties-list__item
          | возможность карьерного роста

      .duties-footer
        | Что-то не умеете? Не беспокойтесь – научим бесплатно.
        br
        | От вас мы ждем внимательности, аккуратности и ответственности.

  .way
    .container
      .way__title
        | Мы предлагаем пройти небольшой путь

      .way-list
        .way-item
          .way-item__icon.way-item__icon-1
          .way-item__info
            .way-item__info-title
              | Отбор по резюме
            .way-item__info-text
              | Поздравляем <br> вы его уже прошли!

        .way-item
          .way-item__icon.way-item__icon-2
          .way-item__info
            .way-item__info-title
              | Онлайн-интервью
            .way-item__info-text
              | Вам потребуется ноутбук
              br
              | или смартфон и несколько минут
              br
              | свободного времени!

        .way-item
          .way-item__icon.way-item__icon-3
          .way-item__info
            .way-item__info-title
              | Собеседование
            .way-item__info-text
              | В случае успеха
              br
              | с Вами свяжутся наши
              br
              | специалисты!

      a.button(href="#")
        | Откликнуться

  .footer
    .container
      .page-footer__logo
      .page-footer__copyright
        | © 2017 ПАО «Газпром нефть»